@model ContractingPlatform.Models.Contract

@{
    ViewData["Title"] = "Contract Chain";
    var selectList = new SelectList(ViewBag.EntityList as List<Entity>,"Id","Name");
}

<h1>Contract Chain</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Chain">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="EntityA" class="control-label"></label><br/>
                <select asp-for="EntityA" class="control-label"  asp-items="selectList">
                </select><br/>
                <span asp-validation-for="EntityA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityB" class="control-label"></label><br/>
                <select asp-for="EntityB" class="control-label"  asp-items="selectList">
                </select><br/>
                <span asp-validation-for="EntityB" class="text-danger"></span>
            </div>

            @{
                if(ViewData["Message"] != null) {
                    <div class="form-group">
                        <span>@ViewData["Message"] </span>
                    </div>
                }
            }   
            
            @{
                if(ViewData["Error"] != null) {
                    <div class="form-group">
                        <span class="text-danger">@ViewData["Error"] </span>
                    </div>
                }
            }               
            
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
